.button-with-hover {
	transition: .4s;
	color: #fff;
	background: rgb(26, 173, 26);
	border: 1px rgb(29, 247, 29) solid;
	border-radius: 5px;
}
.button-with-hover:hover {
	color: rgb(26, 173, 26);
	background: rgb(29, 247, 29);
	border-color: #fff;
}
